### Importando librerías

In [70]:
import pandas as pd
import numpy as np

### Importando datos

In [71]:
dataset_clean=pd.read_csv('../data/raw/dataset_clean.csv')

In [72]:
dataset_clean.head()

,ID,ESTACION,FECHA,HORA,LONGITUD,LATITUD,ALTITUD,TEMP,HR,PP,RED,DEPARTAMENTO,PROVINCIA,DISTRITO,UBIGEO,UBICACION,AÑO,MES,RED_ESTACION,COORDENADA
0,1,CANDARAVE,2015-01-01,0,-70.2541,-17.268,3410.0,6.6,73.0,0.0,RBON,TACNA,CANDARAVE,CANDARAVE,230201,"('TACNA', 'CANDARAVE', 'CANDARAVE', 230201)",2015,1,"('RBON', 'CANDARAVE')","(-17.268, -70.2541, 3410.0)"
1,2,CANDARAVE,2015-01-01,1,-70.2541,-17.268,3410.0,6.1,66.0,0.0,RBON,TACNA,CANDARAVE,CANDARAVE,230201,"('TACNA', 'CANDARAVE', 'CANDARAVE', 230201)",2015,1,"('RBON', 'CANDARAVE')","(-17.268, -70.2541, 3410.0)"
2,3,CANDARAVE,2015-01-01,2,-70.2541,-17.268,3410.0,5.2,63.0,0.0,RBON,TACNA,CANDARAVE,CANDARAVE,230201,"('TACNA', 'CANDARAVE', 'CANDARAVE', 230201)",2015,1,"('RBON', 'CANDARAVE')","(-17.268, -70.2541, 3410.0)"
3,4,CANDARAVE,2015-01-01,3,-70.2541,-17.268,3410.0,5.1,49.0,0.0,RBON,TACNA,CANDARAVE,CANDARAVE,230201,"('TACNA', 'CANDARAVE', 'CANDARAVE', 230201)",2015,1,"('RBON', 'CANDARAVE')","(-17.268, -70.2541, 3410.0)"
4,5,CANDARAVE,2015-01-01,4,-70.2541,-17.268,3410.0,3.8,51.0,0.0,RBON,TACNA,CANDARAVE,CANDARAVE,230201,"('TACNA', 'CANDARAVE', 'CANDARAVE', 230201)",2015,1,"('RBON', 'CANDARAVE')","(-17.268, -70.2541, 3410.0)"

### Agrupando por mes y año

In [ ]:
df_mensual=dataset_clean.groupby(['AÑO','MES'])[['TEMP','HR','PP']]

df_anual=dataset_clean.groupby(['AÑO'])[['TEMP','HR','PP']]

AÑO   MES  TEMP  HR     PP
2015  1    5.1   100.0  0.0    19
           9.5   100.0  0.0    19
           5.5   100.0  0.0    14
           0.1   100.0  0.0    11
           4.9   100.0  0.0    11
                               ..
2024  6    23.4  25.0   0.0     1
           23.5  23.0   0.0     1
           23.6  20.0   0.0     1
           24.2  23.0   0.0     1
           24.4  22.0   0.0     1
Name: count, Length: 317063, dtype: int64
AÑO   TEMP  HR     PP
2015  8.8   99.0   0.0    145
      12.9  100.0  0.0    130
      15.6  100.0  0.0    116
      7.9   34.0   0.0    113
            86.0   0.0    110
                         ...
2024  24.4  19.0   0.0      1
            22.0   0.0      1
      24.7  49.0   0.0      1
      25.0  35.0   0.0      1
      25.2  36.0   0.0      1
Name: count, Length: 172254, dtype: int64

In [74]:
df_mensual_mean = df_mensual.mean()
df_anual_mean = df_anual.mean()

print(df_mensual_mean)

               TEMP         HR        PP
AÑO  MES
2015 1     9.858415  71.382465  0.119354
     2     9.580153  88.720183  0.162171
     3     9.891225  88.997283  0.166069
     4     9.683611  76.456659  0.034730
     5     8.185104  55.468912  0.003076
...             ...        ...       ...
2024 2    10.733683  86.334207  0.143036
     3    10.825416  89.307757  0.148011
     4    11.764732  75.432245  0.023489
     5    10.034069  55.129440  0.004925
     6     8.686342  43.655076  0.012768

[114 rows x 3 columns]

## Índice de Calor (HI)

### Conversión de Celsius a Fahrenheit

In [75]:
#convertir TEMP a grados farenheit
TEMP_FAH = dataset_clean['TEMP']*9/5 + 32
print(TEMP_FAH.value_counts())
print(dataset_clean['TEMP'].value_counts())

TEMP
55.94    2774
55.58    2770
55.22    2770
41.90    2743
42.44    2714
         ...
1.94        1
76.82       1
79.34       1
77.90       1
77.36       1
Name: count, Length: 414, dtype: int64
TEMP
 13.3    2774
 13.1    2770
 12.9    2770
 5.5     2743
 5.8     2714
         ...
-16.7       1
 24.9       1
 26.3       1
 25.5       1
 25.2       1
Name: count, Length: 414, dtype: int64

### Definición de la fórmula

In [76]:
#calcular el indice de calor
HI= -42.379+2.04901523*TEMP_FAH+10.14333127*dataset_clean['HR']-0.22475541*TEMP_FAH*dataset_clean['HR']-6.83783e-3*TEMP_FAH**2-5.481717e-2*dataset_clean['HR']**2+1.22874e-3*TEMP_FAH**2*dataset_clean['HR']+8.5282e-4*TEMP_FAH*dataset_clean['HR']**2-1.99e-6*TEMP_FAH**2*dataset_clean['HR']**2

print(HI.value_counts().sort_index())

43.568398     1
45.481208     1
47.704048     1
48.095598     1
48.318902     2
             ..
355.727181    1
355.969515    1
356.063586    1
363.512519    1
372.227995    1
Name: count, Length: 27737, dtype: int64

### Conversión del HI de fahrenheit a celsius

In [77]:
#calcular el indice de calor en grados celsius
dataset_clean['HI']=(HI-32)*5/9
print(dataset_clean['HI'].value_counts())

HI
33.318606    773
30.438724    759
31.492723    749
34.455666    725
29.753363    698
            ...
19.934810      1
18.837181      1
14.884117      1
13.688822      1
17.419979      1
Name: count, Length: 27737, dtype: int64

### Clasificando el HI

* Si los datos de la columna dataset_clean[HI] son mayor o igual 26.6667 y menor que 32.2222 , la variable 'HI_CLASIFICACION' será 'Precaución'.
* Si los datos de la columna dataset_clean[HI] son mayor o igual 32.2222 y menor que 39.4444, la variable 'HI_CLASIFICACION' será 'Precaución Extrema'.
* Si los datos de la columna dataset_clean[HI] son mayor o igual 39.4444 y menor que 51.6667 , la variable 'HI_CLASIFICACION' será 'Peligro'.
* Si los datos de la columna dataset_clean[HI] son mayor o igual 51.6667, la variable 'HI_CLASIFICACION' será 'Peligro Extremo'.

In [78]:
#clasificar el indice de calor
HI_CLASIFICACION = np.where(
    (dataset_clean['HI'] >= 26.6667) & (dataset_clean['HI'] < 32.2222), 'Precaución',
    np.where(
        (dataset_clean['HI'] >= 32.2222) & (dataset_clean['HI'] < 39.4444), 'Precaución Extrema',
        np.where(
            (dataset_clean['HI'] >= 39.4444) & (dataset_clean['HI'] < 51.6667), 'Peligro',
            np.where(
                dataset_clean['HI'] >= 51.6667, 'Peligro Extremo',
                'Normal'  #Índice de calor menor a 26.6667
            )
        )
    )
)

# tupla HI y HI_CLASIFICACION
dataset_clean['HI_CLASIFICACION'] = list(zip(dataset_clean['HI'], HI_CLASIFICACION))
print(dataset_clean['HI_CLASIFICACION'].value_counts())

HI_CLASIFICACION
(33.31860555939557, Precaución Extrema)    773
(30.43872429891563, Precaución)            759
(31.49272300569559, Precaución)            749
(34.45566591705556, Precaución Extrema)    725
(29.753363004995588, Precaución)           698
                                          ...
(19.934810284231048, Normal)                 1
(18.837181042095565, Normal)                 1
(14.884117293564486, Normal)                 1
(13.688822066915623, Normal)                 1
(17.41997881371564, Normal)                  1
Name: count, Length: 27737, dtype: int64

In [79]:
dataset_clean.columns

Index(['ID', 'ESTACION', 'FECHA', 'HORA', 'LONGITUD', 'LATITUD', 'ALTITUD',
       'TEMP', 'HR', 'PP', 'RED', 'DEPARTAMENTO', 'PROVINCIA', 'DISTRITO',
       'UBIGEO', 'UBICACION', 'AÑO', 'MES', 'RED_ESTACION', 'COORDENADA', 'HI',
       'HI_CLASIFICACION'],
      dtype='object')

## Punto de Rocío (TD)

### Definición de la fórmula de Magnus

In [80]:
dataset_clean['TD']=dataset_clean['TEMP']-((100-dataset_clean['HR'])/5)

dataset_clean['TD'].value_counts()

TD
0.0     2311
0.5     2189
1.0     2169
2.0     2112
2.5     2098
        ...
17.2       1
19.2       1
19.4       1
17.6       1
18.2       1
Name: count, Length: 1428, dtype: int64

### Clasificando el TD

#### Por condición

* Si dataset_clean['TEMP] es menor o igual que TD entonces la condición es Condensacion
* Si dataset_clean['TEMP] es mayor que TD entonces la condición es No Condensacion

In [81]:
TD_CONDICION = np.where(
    dataset_clean['TEMP'] <= dataset_clean['TD'], 'Condensacion',
    'No Condensacion'
)

# tupla TD y TD_CONDICION
dataset_clean['TD_CONDICION'] = list(zip(dataset_clean['TD'], TD_CONDICION))
print(dataset_clean['TD_CONDICION'].value_counts().sort_index())

TD_CONDICION
(-28.0, No Condensacion)                 1
(-27.1, No Condensacion)                 1
(-27.0, No Condensacion)                 1
(-26.9, No Condensacion)                 2
(-26.8, No Condensacion)                 1
                                        ..
(18.700000000000003, No Condensacion)    1
(19.2, No Condensacion)                  1
(19.3, No Condensacion)                  1
(19.400000000000002, No Condensacion)    1
(19.900000000000002, No Condensacion)    1
Name: count, Length: 1713, dtype: int64

#### Por percepción (cómo se siente)

* Si los datos de la columna dataset_clean[TD] son menor que 10, la variable 'TD_PERCEPCION' será 'Extremadamente cómodo'.
* Si los datos de la columna dataset_clean[TD] son mayor o igual 10 y menor que 12.7778 , la variable 'TD_PERCEPCION' será 'Seco y muy confortable'.
* Si los datos de la columna dataset_clean[TD] son mayor o igual 12.7778 y menor que 15.5556 , la variable 'TD_PERCEPCION' será 'Confortable'.
* Si los datos de la columna dataset_clean[TD] son mayor o igual 15.5556 y menor que 18.3333 , la variable 'TD_PERCEPCION' será 'Perceptible, pero aceptable para la mayoría'.
* Si los datos de la columna dataset_clean[TD] son mayor o igual 18.3333 y menor que 21.1111 , la variable 'TD_PERCEPCION' será 'Húmedo y algo incómodo'.
* Si los datos de la columna dataset_clean[TD] son mayor o igual 21.1111 y menor que 23.8889 , la variable 'TD_PERCEPCION' será 'Muy húmedo e incómodo'.
* Si los datos de la columna dataset_clean[TD] son mayor o igual 23.8889, la variable 'TD_PERCEPCION' será 'Opresivo'.

In [82]:
#clasificar el punto de rocio
TD_PERCEPCION = np.where(
    dataset_clean['TD'] < 10, 'Extremadamente cómodo',
    np.where(
        (dataset_clean['TD'] >= 10) & (dataset_clean['TD'] < 12.7778), 'Seco y muy confortable',
        np.where(
            (dataset_clean['TD'] >= 12.7778) & (dataset_clean['TD'] < 15.555
            ), 'Cómodo',
            np.where(
                (dataset_clean['TD'] >= 15.5556) & (dataset_clean['TD'] < 18.3333),
                'Perceptible, pero aceptable para la mayoría',
                np.where(
                    (dataset_clean['TD'] >= 18.3333) & (dataset_clean['TD'] < 21.1111),
                    'Húmedo y algo incómodo',
                    np.where(
                        (dataset_clean['TD'] >= 21.1111) & (dataset_clean['TD'] < 23.8889),
                        'Muy húmedo e incómodo',
                        np.where(
                            dataset_clean['TD'] >= 23.8889, 'Opresivo', 'Extremadamente seco y frío'
                        )
                    )
                )
            )
        )
    )
)

# tupla TD y TD_PERCEPCION
dataset_clean['TD_PERCEPCION'] = list(zip(dataset_clean['TD'], TD_PERCEPCION))
print(dataset_clean['TD_PERCEPCION'].value_counts())

TD_PERCEPCION
(0.0, Extremadamente cómodo)                                         2311
(0.5, Extremadamente cómodo)                                         2189
(1.0, Extremadamente cómodo)                                         2169
(2.0, Extremadamente cómodo)                                         2112
(2.5, Extremadamente cómodo)                                         2098
                                                                     ...
(17.200000000000003, Perceptible, pero aceptable para la mayoría)       1
(19.2, Húmedo y algo incómodo)                                          1
(19.400000000000002, Húmedo y algo incómodo)                            1
(17.599999999999998, Perceptible, pero aceptable para la mayoría)       1
(18.200000000000003, Perceptible, pero aceptable para la mayoría)       1
Name: count, Length: 1428, dtype: int64

In [83]:
dataset_clean.columns

Index(['ID', 'ESTACION', 'FECHA', 'HORA', 'LONGITUD', 'LATITUD', 'ALTITUD',
       'TEMP', 'HR', 'PP', 'RED', 'DEPARTAMENTO', 'PROVINCIA', 'DISTRITO',
       'UBIGEO', 'UBICACION', 'AÑO', 'MES', 'RED_ESTACION', 'COORDENADA', 'HI',
       'HI_CLASIFICACION', 'TD', 'TD_CONDICION', 'TD_PERCEPCION'],
      dtype='object')

## Índice de Aridez (I)

#### Índice de Gussen

In [84]:
df_mensual_mean['I_GUSSEN'] = df_mensual_mean['PP'] / df_mensual_mean['TEMP']

print(df_mensual_mean[['I_GUSSEN']].head(20))

          I_GUSSEN
AÑO  MES
2015 1    0.012107
     2    0.016928
     3    0.016790
     4    0.003586
     5    0.000376
     6    0.000052
     7    0.000385
     8    0.001532
     9    0.000860
     10   0.001263
     11   0.001347
     12   0.002801
2016 1    0.001157
     2    0.010075
     3    0.006274
     4    0.002871
     5    0.000167
     6    0.000464
     7    0.000267
     8    0.000130

#### Índice de Martonne

In [85]:
df_anual_mean['I_MARTONNE'] = df_anual_mean['PP'] / (df_anual_mean['TEMP'] + 10)

print(df_anual_mean[['I_MARTONNE']].head(20))

      I_MARTONNE
AÑO
2015    0.002614
2016    0.001121
2017    0.003015
2018    0.001845
2019    0.002538
2020    0.002642
2021    0.002049
2022    0.001847
2023    0.002300
2024    0.003721

## Precipitación acumulada

### Diaria

In [107]:
PP_ACUM_DIARIA = dataset_clean.groupby(dataset_clean['FECHA'])['PP'].sum()
print(PP_ACUM_DIARIA.head(20))

FECHA
2015-01-01     0.1
2015-01-02    23.1
2015-01-03    12.6
2015-01-04    22.2
2015-01-05    17.5
2015-01-06    12.5
2015-01-07     8.6
2015-01-08    10.2
2015-01-09     2.4
2015-01-10     2.7
2015-01-11     1.6
2015-01-12     0.0
2015-01-13     2.3
2015-01-14     0.4
2015-01-15     0.0
2015-01-16     0.0
2015-01-17     1.9
2015-01-18     0.1
2015-01-19     0.2
2015-01-20    16.9
Name: PP, dtype: float64

In [ ]:
PP_ACUM_MENSUAL = dataset_clean.groupby(['AÑO', 'MES'])['PP'].sum()

In [95]:
# de la columna df_mensual_mean['PP'], calcular la precipitación acumulada por mes
#PP_ACUM = dataset_clean['PP'].cumsum()
#print(PP_ACUM.sort_index())

0             0.0
1             0.0
2             0.0
3             0.0
4             0.0
           ...
400998    17888.2
400999    17888.2
401000    17888.2
401001    17888.2
401002    17888.2
Name: PP, Length: 401003, dtype: float64

* Evapotranspiración
* Precipitación acumulada (mensual y anual)